## Setup Environment

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Coup Data v1.3.5.csv")

In [4]:
df.shape

(872, 32)

### Group by country and look at number of coup events

In [6]:
df_country_group = df.groupby("country").agg('sum').reset_index()

In [8]:
df_country_group["total_events"] = df_country_group['realized']+df_country_group['unrealized']

In [32]:
most_coup_events = df_country_group.nlargest(5, "total_events")
most_coup_events[['country','total_events']]

       country  total_events
8      Bolivia            37
104      Sudan            26
4    Argentina            24
49       Haiti            24
107      Syria            21

In [40]:
one_coup = df_country_group[df_country_group['total_events']==1]
one_coup[['country']]

                      country
10                   Bulgaria
14                   Cameroon
25                     Cyprus
28                   Djibouti
29                   Dominica
32                    Ecudaor
48                     Guyana
56                    Jamaica
58                      Kenya
59            Kyrgyz Republic
65                 Luxembourg
67                     Malawi
72                     Mexico
84           Papua New Guinea
97                    Senegal
98                     Serbia
115              Turkmenistan
118      United Arab Emirates
119  United States of America
125                  Zimbabwe

In [42]:
len(one_coup)

20

In [33]:
most_scoup = df_country_group.nlargest(5, "realized")
most_scoup[['country','realized']]

       country  realized
8      Bolivia        16
49       Haiti        15
107      Syria        13
4    Argentina         9
110   Thailand         9

In [34]:
most_acoup = df_country_group.nlargest(5, "unrealized")
most_acoup[['country','unrealized']]

       country  unrealized
8      Bolivia          21
104      Sudan          19
4    Argentina          15
121  Venezuela          14
54        Iraq          13

### T-Test of mean numbers of executives killed between military coup events and non military coup events

In [18]:
df_military = df[df["military_coup"]==1]
df_other = df[df["military_coup"]==0]

In [23]:
df_military["exec_killed"].mean()

0.0531496062992126

In [20]:
df_other['exec_killed'].mean()

0.030303030303030304

In [51]:
mean_mil = df_military["exec_killed"].mean()

mean_other = df_other['exec_killed'].mean()

std_mil = df_military["exec_killed"].std()

std_other = df_other['exec_killed'].std()

se_difference = ((((std_mil / len(df_military))**2) + ((std_other / len(df_other))**2)))**0.5

test_stat = (mean_mil - mean_other) / se_difference


test_stat

35.29459459845206

In [26]:
std_mil

0.22455285672499403

In [27]:
std_other

0.1716564301691502

In [28]:
len(df_military)

508

In [29]:
len(df_other)

363